<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../../public/assets/css/style.css" type="text/css" />
		<title>MVC With Burgers!</title>
		{{!-- <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script> --}}
	</head>
	<body>
		
		<img src="/assets/img/nice_burger.jpg" width="400px" id="nice_burger" text-align="center" >

		{{{ body }}}
	</body>
</html>
