<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
    {{#each devoured}}

    {{/each}}
</ul>

    <h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
        {{ burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="name">Burger Name:</label>
        <input type="text" id="burger-name" name="name">
    </div>

    <div class="form-group">
        <label for="in">Devoured?</label><br>
        <input type="radio" name="devoured" value="1"> Devoured!<br>
        <input type="radio" name="not-devoured" value="0">Not devoured<br>

    </div>

    <button type="submit">Add Burger</button>
</form>
